*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    backface-visibility: hidden;
    transition: .5s ease-in-out;
}


a{
    color: $color-text;
    text-decoration: none;
}

