.contact{
    text-align: center;
    font-family: $font-secondary;
    padding: 2rem 25rem;
    background-color: $color-bg-1;
    

    i{
        font-size: 5rem;
        color: $color-strong;
    }
}