.header{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 3rem;
    .profile_img{
        width: 8rem;
        height: 8rem;
        margin-right: 2rem;

        img{
            width: 100%;
            height: 100%;
        }
    }


    .name{
        word-spacing: 5px;
        h2{
            margin-bottom: 2.5rem;
        }
    }
}

.heading {
    text-transform: uppercase;
    color: $theme-color-primary;
    font-family: $font-heading;
    letter-spacing: 2px;
    font-weight: 700;
}

.heading-large{
    font-size: 2rem;
}
.heading-small{
    letter-spacing: 8px;
    font-size: 1.3rem;
}