.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $color-strong;
    color: $color-BgText;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

    i{
        padding-right: 0.5rem;
        font-size: 1.3rem;
    }
}

.desktop-nav{
    padding: 0;
    list-style: none;
    display: flex;
    li{
        padding: 1rem;
        font-size: 0.9rem;
        &:not(:last-child){
            padding-right: 0.8rem;
        }

        a{
            color: $color-BgText;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
