@media (max-width:700px) {
    .desktop-nav{
        display: none;
    }

    .main-header{
        padding-left: 1rem;
    }

    .hamburger{
        display: block;
    }
    .mobile-nav{
        display: block;
    }

    .about, .passion, .experience{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .self{
        line-height: 1rem;
        i{
            font-size: 2rem;
        }

        .flex{
            p{
                font-size: 0.8rem;
            }
        }
    }
    .passion{
        .flex{
            flex-direction: column;
        }
    }

    .work{
        .flex{
            flex-direction: column;
            .card{
                width: 80%;
            }
        }
    }
}