@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


$theme-color-primary: #157145;
$theme-color-primary-2: #5dd199;
$theme-color-secondary: #2fa86e75;
$theme-color-light: #3fcf8911;
$theme-color-background: #25ff9646;
$text-color: #042b18;

$font-main: "Georama",Arial, Helvetica, sans-serif;
$font-heading: "Overlock",Arial, Helvetica, sans-serif;
$font-windsong: "WindSong",Arial, Helvetica, sans-serif;
$font-grade: "Satisfy",Arial, Helvetica, sans-serif;


