.work{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: $color-BgText;

    .flex{
        flex-wrap: wrap;
    }
}

.card{
    height: 30rem;
    width: 27%;
    position: relative;
    font-family: $font-primary;
    margin-bottom: 3rem;
    .front{
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.front, .back{
    position: absolute;
    top: 0;
    right: 0;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 2px 4px 10px #2e0e0271;
    transition: transform .7s linear;
}
.front{
    transform: perspective(900px) rotateY(0deg);
}
.back{
    transform: perspective(900px) rotateY(180deg);
    background: linear-gradient(to right, #836250, #b98366);
    color: $color-BgText;
    text-align: center;
    

    &-content{
        padding: 2rem;
        .heading-sm{
            opacity: 1;
            padding: 0.5rem;
            border-bottom: 1px solid rgb(227, 253, 237);
        }

        .mg-t{
            margin-top: 1rem;
        }
    }
}

.card:hover .front{
    transform: perspective(900px) rotateY(-180deg);
}

.card:hover .back{
    transform: perspective(900px) rotateY(0deg);
}

.stack-2{
    color: $color-strong;
    text-transform: uppercase;
    margin-top: 0.5rem;

}

.links a{
    color: rgb(227, 253, 237);
    font-size: 1.3rem;
    display: inline-block;
    margin: .5rem 1rem 0 1rem;
    position: relative;
}

.links a::after{
        content: attr(data-tool-tip);
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: -20%;
        transform: translate(-50%,-110%) scale(0);
        text-align: center;
        padding: 0 0.5rem 0 .5rem;
        width: 6rem;
        font-size: 12px;
        background-color: rgb(227, 253, 237);
        color: $color-text;
        border-radius: 15px;
        transition: all .5s ease-out;

}

.links a:hover {
    &::after{
        transform: translate(0%,-100%) scale(1);
    }
}