@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a {
  color: #0c0401;
  text-decoration: none; }

.container {
  width: 90%;
  margin: auto; }

.active {
  background-color: #96705B; }

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.middleX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.photo {
  height: 10rem;
  width: 10rem; }
  .photo img {
    height: 100%;
    width: 100%; }

.text-center {
  text-align: center; }

.circle {
  clip-path: circle(50% at 50% 50%); }

.heading-lg {
  font-family: "Raleway";
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase; }

.heading-md {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase; }

.heading-sm, .heading-sm-2 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase; }

.heading-sm-2 {
  opacity: 0.5; }

.home {
  height: 95vh;
  background: url(./img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  color: #0c0401;
  text-transform: uppercase;
  font-family: "Nunito";
  margin: 0; }
  .home h2 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 6px;
    word-spacing: 4px;
    padding: 2rem; }

.down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2E0E02;
  border-radius: 50%;
  transition: .5s ease-in-out; }
  .down i {
    font-size: 3rem;
    color: #EFEBCE; }
  .down:hover {
    opacity: 0.8; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #2E0E02;
  color: #EFEBCE;
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5; }
  .main-header i {
    padding-right: 0.5rem;
    font-size: 1.3rem; }

.desktop-nav {
  padding: 0;
  list-style: none;
  display: flex; }
  .desktop-nav li {
    padding: 1rem;
    font-size: 0.9rem; }
    .desktop-nav li:not(:last-child) {
      padding-right: 0.8rem; }
    .desktop-nav li a {
      color: #EFEBCE; }
      .desktop-nav li a:hover {
        opacity: 0.8; }

.hide {
  transform: scaleY(0); }

.show {
  transform: scaleY(1); }

.hamburger {
  position: fixed;
  top: 0.7rem;
  right: 1rem;
  color: #EFEBCE;
  display: none;
  z-index: 5; }
  .hamburger i {
    font-size: 1.8rem;
    cursor: pointer; }

.mobile-nav {
  position: fixed;
  display: none;
  border-top: 1px solid #EFEBCE;
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: #2E0E02;
  color: #EFEBCE;
  z-index: 5;
  font-family: "Nunito";
  transition: all .5s ease-in-out; }
  .mobile-nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .mobile-nav ul li {
      padding: 0rem;
      font-size: 0.9rem; }
      .mobile-nav ul li a {
        color: #EFEBCE;
        display: inline-block;
        padding: 1rem; }
        .mobile-nav ul li a:hover {
          opacity: 0.8;
          background-color: #2e0e022d; }

.about {
  background-color: #F1FAEE;
  color: #0c0401;
  margin: 0;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6rem;
  padding-left: 15rem;
  padding-right: 15rem; }
  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about span {
    color: #034db4; }

.self {
  background-color: #EFEBCE;
  padding: 2rem;
  width: 100%;
  text-align: center; }
  .self i {
    font-size: 3rem; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.passion {
  margin: 0;
  padding: 4rem 0rem 4rem 0rem;
  background-color: #EFEBCE;
  color: #0c0401;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6rem; }
  .passion h4 {
    opacity: 0.7; }
  .passion i {
    background-color: #2E0E02;
    display: inline-block;
    padding: 4rem;
    font-size: 3rem;
    color: #EFEBCE;
    border-radius: 50%;
    transition: .5s linear; }
    .passion i:hover {
      transform: rotate(180deg); }

.passion_icon {
  padding: 3rem; }

.experience {
  background-color: #F1FAEE;
  color: #0c0401;
  margin: 0;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6rem;
  padding: 4rem 15rem 4rem 15rem; }

.skills .skills_text {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 1.2rem; }

.skills .stack p {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #96705B, #96705bd7);
  margin: 1rem;
  color: #EFEBCE;
  box-shadow: 2px 4px 10px #2e0e0271;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all .3s ease-in-out; }
  .skills .stack p:hover {
    transform: scale(1.1); }

.organizations .org {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .organizations .org a {
    color: #034db4; }

.work {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #EFEBCE; }
  .work .flex {
    flex-wrap: wrap; }

.card {
  height: 30rem;
  width: 27%;
  position: relative;
  font-family: "Nunito";
  margin-bottom: 3rem; }
  .card .front img {
    width: 100%;
    height: 100%; }

.front, .back {
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 2px 4px 10px #2e0e0271;
  transition: transform .7s linear; }

.front {
  transform: perspective(900px) rotateY(0deg); }

.back {
  transform: perspective(900px) rotateY(180deg);
  background: linear-gradient(to right, #836250, #b98366);
  color: #EFEBCE;
  text-align: center; }
  .back-content {
    padding: 2rem; }
    .back-content .heading-sm {
      opacity: 1;
      padding: 0.5rem;
      border-bottom: 1px solid #e3fded; }
    .back-content .mg-t {
      margin-top: 1rem; }

.card:hover .front {
  transform: perspective(900px) rotateY(-180deg); }

.card:hover .back {
  transform: perspective(900px) rotateY(0deg); }

.stack-2 {
  color: #2E0E02;
  text-transform: uppercase;
  margin-top: 0.5rem; }

.links a {
  color: #e3fded;
  font-size: 1.3rem;
  display: inline-block;
  margin: .5rem 1rem 0 1rem;
  position: relative; }

.links a::after {
  content: attr(data-tool-tip);
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: -20%;
  transform: translate(-50%, -110%) scale(0);
  text-align: center;
  padding: 0 0.5rem 0 .5rem;
  width: 6rem;
  font-size: 12px;
  background-color: #e3fded;
  color: #0c0401;
  border-radius: 15px;
  transition: all .5s ease-out; }

.links a:hover::after {
  transform: translate(0%, -100%) scale(1); }

@media (max-width: 700px) {
  .desktop-nav {
    display: none; }
  .main-header {
    padding-left: 1rem; }
  .hamburger {
    display: block; }
  .mobile-nav {
    display: block; }
  .about, .passion, .experience {
    padding-left: 0rem;
    padding-right: 0rem; }
  .self {
    line-height: 1rem; }
    .self i {
      font-size: 2rem; }
    .self .flex p {
      font-size: 0.8rem; }
  .passion .flex {
    flex-direction: column; }
  .work .flex {
    flex-direction: column; }
    .work .flex .card {
      width: 80%; } }
